
Facetec.Core.iOS/Facetec.iOS/obj/

Facetec.Droid/bin/

Facetec.Droid/obj/

SaulFacetec/.vs/

SaulFacetec/SaulFacetec/bin/

SaulFacetec/SaulFacetec/obj/

SaulFacetec/SaulFacetec.Android/bin/

SaulFacetec/SaulFacetec.Android/obj/

SaulFacetec/SaulFacetec.iOS/obj/
